#
# Circle CI configuration. Runs each time we push a new commit to Github.
#
version: 2.1

jobs:
  build:
    docker:
      - image: mjambon/mj-ocaml:alpine
    working_directory: ~/dune-deps
    environment:
      DUNE_PROFILE: static
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: ./.circleci/setup
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test
      - store_artifacts:
          path: ~/dune-deps/_build/install/default/bin/dune-deps
          destination: dune-deps-linux-x86_64-static
  build_legacy:
    docker:
      - image: mjambon/mj-ocaml-4.02:alpine
    working_directory: ~/dune-deps
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: ./.circleci/setup
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test

workflows:
  version: 2
  build:
    jobs:
      - build
      - build_legacy
